// VARIABLES

$font-size-root: 14px;
$ff: 'Poppins', sans-serif;

$fw-n: 400;
$fw-m: 600;
$fw-b: 700;
$fw-lg: 900;

$fs-p: 1rem;
$fs-3: 1.5rem;
$fs-2: 2rem;
$fs-1: 2.3rem;

$main-bg-color: hsl(220, 10%, 15%);

$clr-primary: darkblue;
$clr-primary-light: rgba(84, 84, 205, 0.956);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$spacer: 1rem;
$spacer-md: 2rem;
$spacer-lg: 3rem;

$shadow: 0 0 1em red;
$br: 15px;

// END - VARIABLES

// OVERRIDE BOOTSTRAP VARIABLES

  // COLOR OVERRIDES

  $primary:       $clr-primary;

// END -- OVERRIDE BOOTSTRAP VARIABLES 


// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";