@use '../custom' as *;

.footer{

  margin-top: $spacer-lg;
  gap: 2em;

  font-weight: $fw-b;

  &__content{
    padding-inline: $spacer;

    color: $white;
    font-weight: $fw-b;
    padding: 1rem 1rem;
  }

}