
/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Variables */

:root{

  font-size: 14px;
  --ff: 'Poppins', sans-serif;

  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;

  --fs-p: 1rem;
  --fs-3: 1.5rem;
  --fs-2: 2rem;
  --fs-1: 2.3rem;

  --main-bg-color: hsl(220, 10%, 15%);

  --primary-clr: #fff;
  --secondary-clr: darkblue;
  --secondary-clr-light: rgba(84, 84, 205, 0.956);

  --spacer: 1rem;
  --spacer-md: 2rem;
  --spacer-lg: 3rem;

  --shadow: 0 0 1em red;
  --br: 15px;

}


/* ------------------  CSS reset   ------------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* ------------------ END / CSS reset   ------------------------------------------*/

/* Utilities  */
.flex{

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-visible{

  display: none;
}

/* General Styling */
body{

  font-family: var(--ff);
    font-size: var(--fs-p);
  line-height: 1.5;

  background-color: var(--main-bg-color);
  background-image: url(images/domino-colores-640x426.jpg);
  background-size: cover;

  color: var(--secondary-clr);

  display: grid;
  grid-template-rows: auto 1fr auto;

}

main{

  grid-row: 2 / 3;

}

h3{

  padding-inline: var(--spacer);
  margin-top: var(--spacer);

}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
  /* Add any other styles as needed */
}

.card__add-score, button{
  width: 8.12rem;
  color: var(--primary-clr);
  border-radius: var(--br);
  background-color: var(--secondary-clr);
  margin-bottom: 0.5rem;
  margin-inline: auto;

}

input[type="number"]{
  padding-inline: var(--spacer);
  padding-block: calc(var(--spacer) * 0.1);

}


/* Header section */
.header__title{
  padding: var(--spacer);
  font-size: var(--fs-1);
  font-weight: var(--fw-b);
  margin-bottom: var(--spacer-md);
}


/* Card Section */

.card__content{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: flex-start;

  width: 94%;
  margin: 0 auto;

  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  border-radius: var(--br);
  box-shadow: var(--shadow);

}

.card__player{

  padding: var(--spacer);
}

.card__restart-game{
  width: auto;
  margin: var(--spacer-md) auto;
  padding: var(--spacer) var(--spacer-md);
  border-radius: 1.5rem;
}

.card__error-message{
  color: red;
  background-color: var(--primary-clr);
  font-size: var(--fs-3);
  font-weight: var(--fw-b);
  padding: var(--spacer);
}

.card__total{
  gap: 0.2rem;
}

.card__total-screen{
  width: 6rem;
  color: var(--secondary-clr);
  border: 2px solid var(--secondary-clr);
  background-color: var(--primary-clr);
  
}

.card__players-btn{
  margin-top: 1rem;
}


/* Footer */

footer{

  gap: 2em;
  margin-bottom: 2rem;
  font-weight: var(--fw-b);

  margin-top: var(--spacer-lg);

}

.footer__content{
  box-shadow: var(--shadow);
  background-color: white;
  padding-inline: var(--spacer);
}

/* Modal  */

.modal{
  background-color: #fff;
  width: 90%;
  max-width: 700px;
  color: var(--secondary-clr);
  margin: 0 auto;
}

@media(min-width: 45em){

  :root{
    font-size: 16px;
  }

  .card__content{
    max-width: 720px;
  }

  footer{
    font-weight: var(--fw-n);
  }
}

@media(min-width: 75em){

  footer{

    font-size: var(--fs-p);
    font-weight: var(--fw-m);
  
  }
}